body {
    background-color: cornflowerblue;
}

h1 {
    font-size: 100px;
    font-family: Quicksand;
    text-align: center;
}

p {
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
}